body {
    background: #57605c;
}

h1 {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 48px;
    font-family:'Anton', sans-serif; 
}

.bg-img {
    background-image: url(../my-personal-website/images/navBar.jpg);
    min-height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.container {
    position: absolute;
    margin: 20px;
    width: auto;
}

.topNav {
    overflow: hidden;
    background-color: black;
}

.topNav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family:'Anton', sans-serif;
  }

  .topNav a:hover {
    background-color: #ddd;
    color: black;
  }